.container {
    margin: 50px;
    width: 50%;
}

h1 {
    font-family: variables.$heading-font;
}

h2 {
    font-family: variables.$main-font;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: white;
    color: black;
    border: 0px;
    &:hover {
        background-color:grey;
    }
}

.btn-danger {
    background-color: black;
    color: white;
    border: 0px;
    margin-left: 10px;
    &:hover {
        background-color: grey;
    }
}